@model Track
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-sm-3">
        <img class="img-thumbnail" src="@Model.PictureLink" style="width: 100%;" />
        <form asp-controller="Chart" asp-action="AddToClientChart" asp-route-trackName="@Model.Name"
              asp-route-artistName="@Model.Artist.Name" method="post" class="form-inline" style="margin-top: 20px;">
            <div class="form-group">
                <label>Position</label>
                <input name="Position" class="form-control" type="number" style="width: 100px;"/>
            </div>
            <button type="submit" class="btn btn-default">Add to my chart</button>
        </form>
    </div>
    <div class="col-sm-9">
        <h1 class="text-center">@Model.Name</h1>
        @Html.Partial("_TagList", Model.Tags)
        <h4>Artist : <a asp-controller="Home" asp-action="Artist" asp-route-name="@Model.Artist.Name">@Model.Artist.Name</a></h4>
        @if (Model.Album != null)
        {
            <h4>
                Album : <a asp-controller="Home" asp-action="Album" asp-route-albumName="@Model.Album.Name"
                           asp-route-artistName="@Model.Artist.Name">@Model.Album.Name</a>
            </h4>
        }
        <h4>Scrobbles : @Model.Scrobbles</h4>
        <h4>Listeners : @Model.Listeners</h4>
        <p>@Model.Info</p>
        @if (!String.IsNullOrWhiteSpace(Model.LinkToAudio))
        {
            <audio controls src="@Model.LinkToAudio"></audio>
        }
        <div class="text-center">
            <a asp-controller="Home" asp-action="DownloadTrack" asp-route-trackName="@Model.Name"
               asp-route-artistName="@Model.Artist.Name" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>
