@model List<Track>

<table class="table table-bordered table-condensed table-hover table-striped" style="background-color: aliceblue;">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Track name</th>
            <th style="width: 200px;">Artist name</th>
            <th style="min-width: 100px;">Scrobbles</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Count; i++)
        {
            Track track = Model.ElementAt(i - 1);
            <tr>
                <th>@i</th>
                <td><a asp-controller="Home" asp-action="Track" asp-route-trackName="@track.Name" 
                       asp-route-artistName="@track.Artist.Name">@track.Name</a></td>
                <td>@track.Artist.Name</td>
                <td>@track.Scrobbles</td>
            </tr>
        }
    </tbody>
</table>
